
/* Estilo body */
body {
  background-color: #ecf0f1;
  text-align: center;
  color: #1e5275;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #1e5275;
}

input {
  width: 50%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #1e5275;
  border-radius: 6px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #8995d3;
}

.input {
  width: 25%;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  text-align: center;
}

.card {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
}

.city {
  background-color: #ffffff;
  margin: 8px;
  border-radius: 25px;
  width: 25%;
}

.msg {
  color: #7f8c8d;
  margin-top: 20px
}

.button{
  background-color: #3e57db;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-weight: bold;
}

#inn-app a {
  color: #3e57db;
  text-decoration: none;
}

#inn-app a:hover {
  text-decoration: underline;
}